In [5]:
import numpy as np
import pandas as pd

Here is the data we will be using:

In [7]:
df = pd.DataFrame({
        'name':['christopher','marion','maria','mia','clement','randy','remi'],
        'age':[70,30,22,19,45,33,20],
        'gender':['M','F','F','F','M','M','M'],
        'state':['california','dc','california','dc','california','new york','porto'],
        'num_children':[2,0,0,3,8,1,4],
        'num_pets':[5,1,0,5,2,2,3]
})


1. Reproduce this plot. This plot is called a bar plot.

The plot has to contain:

 * the title

 * name on x-axis

 * legend

In [ ]:
df.plot()